:root {
	--step--2: clamp(0.69rem, calc(0.66rem + 0.16vw), 0.80rem);
  	--step--1: clamp(0.83rem, calc(0.77rem + 0.25vw), 1.00rem);
  	--step-0: clamp(1.00rem, calc(0.91rem + 0.38vw), 1.25rem);
  	--step-1: clamp(1.20rem, calc(1.07rem + 0.54vw), 1.56rem);
  	--step-2: clamp(1.44rem, calc(1.26rem + 0.77vw), 1.95rem);
  	--step-3: clamp(1.73rem, calc(1.48rem + 1.07vw), 2.44rem);
  	--step-4: clamp(2.07rem, calc(1.73rem + 1.47vw), 3.05rem);
  	--step-5: clamp(2.49rem, calc(2.02rem + 1.99vw), 3.82rem);

	--clr-primary-very-dark-blue: hsl(243, 87%, 12%);
	--clr-primary-desaturated-blue: hsl(238, 22%, 44%);
	--clr-accent-bright-blue: hsl(224, 93%, 58%);
	--clr-accent-moderate-cyan: hsl(170, 45%, 43%);
	--clr-neutral-light-grayish-blue: hsl(240, 75%, 58%);
	--clr-neutral-light-gray: hsl(0, 0%, 75%);

	--font-heading: 'Raleway', sans-serif;;
	--font-body: 'Open Sans', sans-serif;;

	--fw-400: 400;
	--fw-700: 700;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header,
.section,
.section-bottom-wrap,
.footer-content {
	margin: 0 auto;
	width: 90%;
}

.img-wrap__section img {
	width: 100%;
}

a {
	text-decoration: none;
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

/* ===========
	Header
============*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
	padding: 2rem 0;
	font-family: var(--font-heading);
}

.logo-wrap img {
	max-width: 4.5rem; /* --- */
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 1rem; /* --- */
}

.list-item a {
	color: var(--clr-primary-very-dark-blue);
	font-size: .8rem; /* --- */
}

/* ===========
	Main
============*/

.main {
	font-family: var(--font-body);
}

.section {
	display: flex;
	flex-direction: column-reverse;
}

.text-content {
	text-align: center;
}

h1,
h2,
.paragraph,
p {
	margin-bottom: 1.5rem;
	color: var(--clr-primary-very-dark-blue);
}

h2 {
	font-size: 1rem;
}

p {
	font-size: .9rem;
}

/* Section Intro */
.text-content__section-intro {
	margin-bottom: 8rem;
}

.text-content__section-intro .paragraph {
	font-weight: 600;
	font-size: .9rem;
	line-height: 1.6;
}

.img-wrap__section img {
	margin-bottom: 2rem; /* --- */
}

.input-box {
	position: relative;
}

.sign-up-email { /* --- */
	width: 100%;
	padding: .7rem 1.2rem;
	margin-bottom: 1rem;
	border: 2px solid var(--clr-neutral-light-gray);
	border-radius: .2rem;
}

.placeholder {
	position: absolute;
	padding: .7rem 1.2rem;
	color: var(--clr-neutral-light-gray);
	pointer-events: none;
	font-size: .9rem; /* --- */
}


.btn-sign-up { /* --- */
	background-color: var(--clr-accent-bright-blue);
	color: #fff;
	width: 100%;
	padding: .7rem;
	border-radius: .2rem;
	font-size: 1rem;
}

/* Section Testimonial */
.text-content__section-testimonial {
	margin-top: 3rem; /* --- */
}

.text-content__section-testimonial .paragraph {
	text-align: left;
	color: var(--clr-primary-desaturated-blue);
}

.link-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: .3rem;
}

.link {
	line-height: 2;
	color: var(--clr-accent-moderate-cyan);
	font-size: .9rem;
}

.line {
	border: 1px solid var(--clr-accent-moderate-cyan);
	margin: 0 auto;
	max-width: 47%;
	margin-bottom: 2rem;
}

/* testimonial */
.testimonial {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem;
	padding-right: 1rem;
	text-align: left;
	margin-bottom: 8rem;
}

.testimonial p {
	font-size: .8rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.icon-quotes {
	min-width: 6%;
	margin-bottom: .5rem;
}

/* avatar */
.avatar-box {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.img__avatar {
	display: block;
	max-width: 12%;
	border-radius: 50%;
}

.info-box__avatar {
	flex-direction: column;
	display: flex;
}

.name {
	font-weight: var(--fw-700);
	font-size: .8rem;
}

.job {
	font-size: .6rem;
	color: var(--clr-primary-desaturated-blue);
}

/* Section Bottom */
.section-bottom {
	display: block;
	background-color: var(--clr-primary-desaturated-blue);
	padding: 3rem 1rem;
	width: 100%;
}

.section-bottom p,
.section-bottom h2 {
	color: #fff;
}

.section-bottom .input-box {
	margin: 0 auto;
	width: 85%;
}

.section-bottom .sign-up-email {
	margin-bottom: .5rem;
}

.section-bottom .btn-sign-up {
	margin-bottom: 3rem;
	font-size: .7rem; /* --- */
}

/* ===========
	Footer
============*/
.footer {
	background-color: var(--clr-primary-very-dark-blue);
	font-family: var(--font-body);
}

.footer-content {
	padding: 3rem 0;
	width: 80%;
}

.footer a {
	color: #fff;
}

path {
	fill: #fff;
}

.columns {
	color: #fff;
	font-size: .9rem;
}

.footer-list {
	list-style: none;
}

/* Column one */
.col-one {
	padding: 2rem 0;
}

.footer-list li {
	margin-bottom: 1rem;
}

.col-one img {
	padding-inline-end: 1rem;
}

/* Column two */
.col-two li:nth-of-type(4) {
	margin-bottom: 3rem;
}

/* Column Three */
.icons-box {
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding-top: 2rem;
}

.icons-box a {
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: .3rem;
}

.icons-box a svg {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.attribution {
	font-size: 1rem;
	text-align: center;
	background-color: #fff;
	margin-bottom: 0;
}

.attribution a {
	color: hsl(228, 75%, 44%);
}